*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    font-family: Edu Tas Beginner, sans-serif;
}

/********************************
            HEADER RULES
*********************************/

header{
    background-image: url(../img/wall.png);
    height: 100px;
    text-align: center;
    padding: 10px 0;
}

h1{
    font-size: 60px;
}

/********************************
            MAIN RULES
*********************************/

main{
    background-image: url(../img/cork.png);
    padding-bottom: 100px;
}

#container{
    max-width: 70%;
    margin: auto;
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
    padding-top: 50px;
}

.card{
    width: calc(100% / 3 - 10px);
    height: 300px;
    background-color: #fff;
    margin-bottom: 20px;
    padding: 10px;
}

.card:hover{
    transform: rotate(40deg);
    z-index: 1;
    transition: 0.7s;
    box-shadow: 5px 5px rgba(0, 0, 0, 0.5);
}

.card:hover .pinImg{
    display: none;
}

.containerPhoto{
    height: 80%;
    position: relative;
    margin-bottom: 10px;
}

.pinImg{
    position: absolute;
    top: -20px;
    left: 50%;
    transform: translate(-50%);
    width: 30px;
}

.singleImg{
    width: 100%;
    height: 100%;
}

.text{
    font-size: 25px;
    font-weight: bold;
}

/********************************
           POPUP RULES
*********************************/
.hidden{
    display: none;
}

#containerPopUp{
    text-align: center;
}

#popUp {
    background-color: rgba(0, 0, 0, 0.8);
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 1000;     
}

#closePopUp{
    width: 80px;
    height: 30px;
    cursor: pointer;
    font-size: 20px;
    margin: 25px auto;
}

#popUpImg{
    position: absolute;
    left: 50%;
    transform: translate(-50%);
    padding-bottom: 40px;
}

#popUpImg img{
    width: 80%;
}


/********************************
          MEDIA QUERIES
*********************************/

@media screen and (max-width: 1000px) {
    #container{
        max-width: 80%;
    }
    #popUpImg img{
        width: 100%;
    }
}

@media screen and (max-width: 768px) {
    #container{
        max-width: 70%;
    }
    .card{
        width: calc(100% / 2 - 10px);
    }
    .text{
        font-size: 20px;
    }
}

@media screen and (max-width: 576px){
    header{
        height: 80px;
    }
    h1{
        font-size: 40px;
    }
    .card  {
        width: 80%;
        margin: auto;
    }
}

@media screen and (min-width: 1440px){
    main{
        min-height: 100vh;
    }
    #container{
        max-width: 50%;
    }
}